 
 <!-- <div class="jumbotron">
  <div class="md-form mt-0">
    <input class="form-control" type="search" placeholder="Search" [(ngModel)]="search" id="search" aria-label="Search">
  </div>

  <div class="rounded-bottom">
  <div class="row" >
    <div class="col-md-4 p-1" *ngFor="let music of musicList | searchArtists : search">
      
     
      <div class="card col-sm-12">
        <div class="card-body pb-0">
          <div class="card-header d-flex justify-content-between">
            <p id="artist" class="mb-0 "> {{artist["artistName"]}} </p> 
            
          </div>
          <hr>
        </div> -->
 






<mat-toolbar color="default">
    <span>Albums</span>
   <!--  <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button> -->
  </mat-toolbar>

  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
   
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let music of musicList">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
            <mat-card-title>{{music.artistName}}</mat-card-title>
            <mat-card-subtitle>{{music.albumName}}</mat-card-subtitle>
  
        </mat-card-header>
        
        <mat-card-actions>
          <button mat-button class="btn btn-success" (click)="addMusic(music)">Recommend</button>
          <button mat-button class="btn btn-success" (click)="addFavourite(music)">Add to Favourites</button>
          
        </mat-card-actions>
      </mat-card>
    </div>
  

    <footer class="page-footer">
  
      <div class="row text-center">
        <div class="col-19 col-sm-20 col-md-4 col-lg-4">
          
  
           
  
              
  
           <address style="text-align:centre;margin-left: 2em">
  
            <a href="">Terms of Use</a><br>
            <a href="">Privacy Policy</a><br>
            <a href="">Feedback</a>
             
               
              </address> 
    
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h3>Connect with us socially</h3>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <a class="navbar-brand" href="#"><img src="../assets/img7.jpg" alt="" srcset="" class="img-fluid"></a>
        </div>
    </div>
    
    </footer>
    
    
    
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
  




  